body{
    margin: 0;
    line-height: 1.6;
    background: rgb(217, 206, 238);
    color:rgb(63, 122, 231);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-left: auto;
    margin-right: auto;
    width: 70em
}
.topnav {
    background-color: #bcadff;
    border-bottom-color: #d9d9d9;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    height: 4em;
    position: fixed;
    width: 100%;
    top: 0;
}
.cute{
    width: 200px;
    height: 121px;
}
.code{
    width: 200px;
    height: 121px;
}
.extra{
    width: 200px;
    height: 121px;
}
.work{
    width: 200px;
    height: 121px;
}