body{
    margin: 0;
    line-height: 1.6;
    background: rgb(217, 206, 238);
    color:rgb(63, 122, 231);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-left: 10%;
    margin-right: auto;
    width: 70em
}
.topnav {
    background-color: rgb(194, 145, 240);
    border-bottom-color: rgb(194, 145, 240);
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    height: 4em;
    margin-left: 0;
    position: fixed;
    width: 100%;
    top: 0;
}
.blood{
    width: 100px;
    height: 50px;
}
.cute{
    width: 50px;
    height: 50px;
}
.code{
    width: 200px;
    height: 121px;
}
.extra{
    width: 400px;
    height: 321px;
}
.work{
    width: 300px;
    height: 221px;
}
hr{
    color:rgb(63, 122, 231);
    margin: 0%;
}