body{
    margin: 0%;
    line-height: 1.6;
    background: rgb(217, 206, 238);
    color:rgb(63, 122, 231);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-right: auto;
    width: 70em
}
.top {
    background-color: rgb(194, 145, 240);
    border-bottom-color: rgb(194, 145, 240);
    border-bottom-style: solid;
    height: 4em;
    margin: 0%;
    position: fixed;
    width: 100%;
    top: 0;
    margin-right: 0;
}
.blood{
    outline: inset thick;
    width: 150px;
    height:100px;
}
card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: rgb(217, 206, 238);
    transition: 0.3s;
    border-radius: 5px;
  }
.container {
    padding: 2px 16px;
    background: rgb(217, 206, 238);
}
.cute{
    transform: rotate(0.1turn);
    width: 50px;
    height: 50px;
}
.code{
    outline: inset thick;
    width: 200px;
    height: 121px;
}
.extra{
    outline: inset thick;
    width: 400px;
    height: 321px;
}
.work{
    outline: inset thick;
    width: 300px;
    height: 221px;
}
hr{
    background:rgb(63, 122, 231);
    margin: 0%;
}